[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HazardDiff"]
	path = HazardDiff
	url = https://github.com/cran/HazardDiff
[submodule "R2Addhaz"]
	path = R2Addhaz
	url = https://github.com/cran/R2Addhaz
